// Base colors here
$base-color: #555555;
$inactive-color: #515151;
$svg-inactive: #bbbbbb;
$active-color: #fff;

$secondary: #6c757d;

@function lighterBase($degree) {
  @return lighten($base-color, $degree);
}

@function darkerBase($degree) {
  @return darken($base-color, $degree);
}

$base-color-l1: lighterBase(10);
$base-color-l2: lighterBase(20);
$base-color-l3: lighterBase(30);
$base-color-l4: lighterBase(40);

$base-color-d1: darkerBase(10);
$base-color-d2: darkerBase(20);
$base-color-d3: darkerBase(30);
$base-color-d4: darkerBase(40);
